In [2]:
#import libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [43]:
#import csv file and define it

file_path = Path("PyBank/budget_data.csv")

budget_df = pd.read_csv(file_path)
budget_df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [33]:
#create a dictionary with the dates
dates = budget_df['Date']
pnl = budget_df['Profit/Losses']
total_info = dict(zip(dates, pnl))

In [26]:
#define variables
total_months = 0
net_total = 0
average = 0
greatest_inc = 0
greatest_dec = 0
inc_date = []
dec_date = []

In [83]:
#set values for variables
total_months = len(pnl)

#net_total
net_total = budget_df["Profit/Losses"].sum()

#changes in pnl
budget_df["Profit/Losses"].sum()
budget_df['PnL_changes']=budget_df["Profit/Losses"]- budget_df["Profit/Losses"].shift()

avg_pnl=round(budget_df["PnL_changes"].mean(),2)

greatest_inc = budget_df["PnL_changes"].max()
greatest_dec = budget_df["PnL_changes"].min()

inc_date=(budget_df.loc[budget_df["PnL_changes"] == budget_df["PnL_changes"].max(),'Date'])
dec_date=(budget_df.loc[budget_df["PnL_changes"] == budget_df["PnL_changes"].min(),'Date'])

print(inc_date)
print(dec_date)

25    Feb-2012
Name: Date, dtype: object
44    Sep-2013
Name: Date, dtype: object

In [80]:
# set output file name
output_path = 'output.txt'

# ppen the output path as a file object
with open(output_path, 'w') as file:
    # Write daily_average to the output file, convert to string
    file.write(f"Financial Analysis\n")
    file.write(f"-------------------------------")
    file.write(f"Total Months: {total_months}")
    file.write(f"Total:$ {net_total}")
    file.write(f"Average Change: ${avg_pnl}")
    file.write(f"Greatest Increase in Profits: Feb-2012 (${greatest_inc})")
    file.write(f"Greatest Decrease in Profits: Sep-2013 (${greatest_dec})")

In [67]:
#Financial Analysis Results

In [84]:
print(f"Total Months: {total_months}")
print(f"Total:${net_total}")
print(f"Average Change: ${avg_pnl}")
print(f"Greatest Increase in Profits: Feb-2012 (${greatest_inc})")
print(f"Greatest Decrease in Profits: Sep-2013 (${greatest_dec})")

Total Months: 86
Total:$38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)