In [1]:
import pandas as pd
import csv
from pathlib import Path

In [5]:
#reading data
menu_path = Path('PyRamen/menu_data.csv')
sales_path = Path('PyRamen/sales_data.csv')
menu_df = pd.read_csv(menu_path)
sales_df = pd.read_csv(sales_path)

In [6]:
menu_df.head(10)

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2
5,hiyayakko tofu,appetizers,"chilled soft tofu, house shoyu, katsuobushi, g...",5.0,2
6,pork floss bao,appetizers,"two steamed buns, minced lean slow braised nim...",4.0,2
7,kakuni bao,appetizers,"two steamed buns, chopped fatty slow braised n...",6.0,3
8,edamame fried gyoza (vegan),appetizers,six crispy fried edamame and cabbage pot stick...,6.0,3
9,fried gyoza,appetizers,six cripsy fried pork and vegetable pot sticke...,6.0,6

In [7]:
sales_df.head(10)

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
5,6,01-01-2017,4787310681569648,1,truffle butter ramen
6,7,01-01-2017,8252818705821725,1,tonkotsu ramen
7,8,01-01-2017,8252818705821725,1,tonkotsu ramen
8,9,01-01-2017,3119034881407323,1,vegetarian spicy miso
9,10,01-01-2017,3119034881407323,1,vegetarian spicy miso

In [23]:
#Use a with statement and open the menu_data.csv by using its file path
report=[]
line_num=0

with open(menu_path, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

In [24]:
#Use the next function to skip the header (first row of the CSV).
header = next(csvreader)
line_num+=1
print(header,"<----HEADER")

ValueError: I/O operation on closed file.

In [25]:
#Loop over the rest of the rows and append every row to the menu list object (the outcome will be a list of lists).
for row in csvreader:
    print(row)

menu_data.columns

ValueError: I/O operation on closed file.